Vi_t_b_i_Amazon (4).json
{
  "name": "Viết bài Amazon",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=### [analyze the query: \n[{{ $json.formData.Keywords }}] ; what would they be looking for if they searched it?] [answer & search should include both {{ $json.formData['Output language'] }} documents]\n### [the output is in {{ $json.formData['Output language'] }}]\"\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=[Instruction]: Answer in Markdown format with clear structure, bullet points, and short paragraphs.\\n\\n[Role]: {{ $json.formData['Tone of Voice'] }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        320,
        -480
      ],
      "id": "e46af9fc-4420-4ae2-b2b8-33adf5f25583",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "grok-3-beta",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        300,
        -260
      ],
      "id": "221edd11-e6ac-4c5a-b99b-aea12fb7d407",
      "name": "xAI Grok Chat Model",
      "credentials": {
        "xAiApi": {
          "id": "1PWyiApIZMEhc6wd",
          "name": "xAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14fbd63a-540f-4af2-867c-e57a9d9ce6b4",
              "name": "Search Intent analyze result",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        -480
      ],
      "id": "8b31ff03-00ad-4333-8d4f-d70db7d369f9",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### [which 10 online articles  best answer the query “{{ $('Edit Fields').item.json.formData.Keywords }}” and explain why [exclude videos]]\n[answer & search should include both English documents; prioritize the English one]\n### [the output is in {{ $('Edit Fields').item.json.formData['Output language'] }}]\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=[Knowledge about User's Search Intent]:  {{ JSON.stringify($json['Search Intent analyze result']).slice(1, -1) }}\\n\\n[Instruction]: Answer in Markdown format with clear structure, bullet points, and short paragraphs.\\n\\n[Role]: {{ $('Edit Fields').item.json.formData['Tone of Voice'] }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        900,
        -480
      ],
      "id": "700ba880-bc07-4571-9b57-06b8072ef367",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "grok-3-beta",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        920,
        -280
      ],
      "id": "534d7c67-edbf-4640-8078-299db88aad13",
      "name": "xAI Grok Chat Model1",
      "credentials": {
        "xAiApi": {
          "id": "1PWyiApIZMEhc6wd",
          "name": "xAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3d0fbc52-3577-423e-a109-44182b9629df",
              "name": "Kết quả phân tích đối thủ top 10",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1260,
        -480
      ],
      "id": "8d945422-fa96-46fe-aa43-527b035ecd29",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"[Knowledge about User's Search Intent]:{{ $('Edit Fields1').item.json['Search Intent analyze result'] }}\\n\\n[competitor's outline information]:{{ $('AI Agent1').item.json.output }}\\n\\n[Instruction]: Answer in Markdown format with clear structure, bullet points, and short paragraphs.\\n\\n[Role]:\\nYou are a Semantic SEO Expert knowledgeable about topical authority, semantic content, and creating great SEO-friendly content that meets the \\\"Search Quality Evaluator Guideline\\\", \\\"Google helpful content\\\" & \\\"Google product review guideline\\\".\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Start by reading these documents: \\n- http://static.googleusercontent.com/media/guidelines.raterhub.com/en//searchqualityevaluatorguidelines.pdf \\n- https://developers.google.com/search/docs/fundamentals/creating-helpful-content?hl=en \\n\\nThen, analyze these Articles that rank at the top for the keywords [{{ $('Limit').item.json.Query }}]:\\n\\n{{ $('Limit').item.json['Top 3 URL'] }}\\n\\nBased strictly on the guidelines or principles outlined in the document and the “Search Quality Evaluator Guideline” PDF from Google, analyze **these articles and the top 10 articles** above. Then, compare them in terms of depth and details of the content, the demonstration of expertise and credibility, and how well they fulfill the user’s intent.\\n\\nI want you to create the outline for the content of the keywords I’ve provided. The outline has to be better than the competitor's or at least as good as theirs.\\n\\n### [the output is in {{ $('Limit').item.json['Output language'] }} and only have the Final outline]\"\n    }\n  ],\n  \"temperature\": 1,\n  \"max_tokens\": 32000\n}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1440,
        -480
      ],
      "id": "607532ec-f3cf-45e4-bff0-4fc360489dd7",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": "grok-3-beta",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        1400,
        -240
      ],
      "id": "112daa5d-6842-44e0-8932-d76f4e61b997",
      "name": "xAI Grok Chat Model2",
      "credentials": {
        "xAiApi": {
          "id": "1PWyiApIZMEhc6wd",
          "name": "xAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bede2be0-5ea9-443c-a9bc-77d33d5cd69c",
              "name": "Outline Content hiện tại ",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1800,
        -480
      ],
      "id": "9c6a9765-77e4-4b25-aa11-2207449269fb",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Based on the Google HelpFul Content & the Checklist Outline & Article Methodology that you have been provided in the MCP_Checklist_Semantic_Content.\nI want you to create the outline for the content of the query \"{{ $('Limit').item.json.Query }}\".\n\n\nPlease provide a complete outline with detailed article methodology for each section.\n\n[final reminder]:\n\n1.  Output should be in {{ $('Edit Fields').item.json.formData['Output language'] }}\n2. The output should be in the markdown format to easy copy & pase to Google Doc.\n3. If the outline have a list, like 30+ checklist or 30+ benefits. Try to include the full 30+ checklist in the outline or the output of it.\n4. This is the year of 2025.\n5. The output only contain the outline & article methodology of blogpost/the content.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=[role]:\nYou are a Semantic SEO Expert knowledgeable about topical authority, semantic content, and Creating great Semantic SEO-friendly Content.\n\n\n[Tools]:\n- Mcp_Checklist_Semantic_Content: Use this tool to retrieve the full requirements from the pre-loaded Google_HelpFul_Content and Checklist_Outline_and_Article_Methodology documents. **Call this tool without any input parameters.**\n- Think: Use the tool to think and ensure the final output will try its best to fulfill the search intent, the guidlines and the checklists from Mcp_checklist_semantic_content\n\n[Information about the current outline content]:\n{{\n  // Loại bỏ headers (##, ###), HR (---), bold (**), citations [n], link refs [n], và dọn dẹp bảng\n  $json['Outline Content hiện tại ']\n    .replace(/^[#]+\\s*/gm, '')         // Xóa ##, ### ở đầu dòng\n    .replace(/^---+\\s*$/gm, '')         // Xóa dòng ---\n    .replace(/\\*\\*/g, '')             // Xóa **\n    .replace(/\\[\\d+\\]/g, '')           // Xóa [1], [2]... (citations/link refs)\n    .replace(/^\\|-.*-\\|$/gm, '')       // Xóa dòng phân cách bảng |---|\n    .replace(/^\\|\\s*/gm, '')           // Xóa | ở đầu dòng (cho bảng)\n    .replace(/\\s*\\|$/gm, '')           // Xóa | ở cuối dòng (cho bảng)\n    .replace(/\\s*\\|\\s*/g, ' | ')       // Chuẩn hóa dấu | trong bảng\n    .trim()                           // Xóa khoảng trắng thừa đầu/cuối\n}}\n\n[Search Intent of the Keywords]:\n1. The Search Intent of the keyword is: {{ $('Edit Fields').item.json.formData['Mục đích tìm kiếm'] }}\n2. Also this is the detailed search intent:\n{{\n  // Tương tự, làm sạch phần phân tích search intent chi tiết\n  $('Edit Fields1').item.json['Search Intent analyze result']\n    .replace(/^[#]+\\s*/gm, '')\n    .replace(/^---+\\s*$/gm, '')\n    .replace(/\\*\\*/g, '')\n    .replace(/\\[\\d+\\]/g, '')\n    .replace(/^\\|-.*-\\|$/gm, '')\n    .replace(/^\\|\\s*/gm, '')\n    .replace(/\\s*\\|$/gm, '')\n    .replace(/\\s*\\|\\s*/g, ' | ')\n    .trim()\n}}\n[Source context of the brand]:\n1. Brand name: \"{{ $('Limit').item.json['Brand Name'] }}\".\n2. Brand information: \"{{ $('Limit').item.json['Brand information'].replace(/^- /gm, '') }}\" \n3. Brand solution: \"{{ $('Limit').item.json['Brand solution'] }}\" \n\n[Task/Instruction]:\nYour task is to Re-optimize, adjust or developed a detailed outline that based on the current outline and ensure the guidelines below. \n\nYou also can call the necessary tools based on the user request. \n\n[Guidlines for the outline]\nI/ Structure & Flow:\n\nThe outline will proceed from the \"Outline focus\" and \"title\" of the content to ensure the article's contextual flow, Contextual Vectors, Contextual hierarchy, and contextual Coverage. \n\n- The outline also needs to satisfy the user intent.\n\n- The outline should include one Heading 1 (H1) that serves as the central theme of the content.\n\nThe heading 2 (H2) sections will contain subtopics that directly support and elaborate on the main theme presented in the H1.\n\n- Heading 3 (H3) sections should further break down the H2 subtopics, ensuring a logical and smooth flow of information.\n\n- The content structure should be contextually coherent, with each section naturally leading to the next, maintaining a smooth and logical progression throughout the entire article.\n\nII/ Content Segmentation:\n\n- Main Content: Focus on delivering comprehensive coverage of the primary topic. This section should constitute more than 80% of the content, fully addressing the reader's queries and providing thorough explanations.\n\n- Supplemental Content: Enhance the main content with additional insights, perspectives, and supporting information. This should make up less than 20% of the content, offering extra value without diluting the main message.\n\n- Ensure a seamless contextual bridge between the main and supplemental content so the transition feels natural and cohesive.\n\nIII/ Optimization Criteria:\n\n- The first 10 headings (H2, H3, or even H4) should be high-quality and directly answer the reader's most pressing questions or concerns.- Group related or thematically connected headings together to maintain consistency and ease of navigation for the reader.\n\n- The supplemental content do not exceed 20% content of a whole article sometimes - should consist of questions, such as:\n-- Boolean Questions: Simple yes/no queries that clarify key points.\n-- Definitional Questions: Queries that explain or define essential terms or concepts.\n-- Grouping Questions: Questions that categorize or group related items together.\n-- Comparative Questions: Questions that compare different elements to provide deeper insights.\n\n- Do not include the article's conclusion in the content's outline.\n\nIV/ Contextual Harmony:- Maintain harmony in the hierarchical structure of headings (H2, H3, etc.) throughout the outline.\n\n- Ensure the first and last headings are interconnected through synonyms, antonyms, or related concepts to create a satisfying conclusion that ties back to the opening.- Use incremental lists where appropriate (e.g., when listing benefits or features) to enhance readability and organization.\n\nV/ Content Quality & Expertise:\n\n- The outline must demonstrate a high level of expertise and detail, ensuring the content is authoritative and credible and meets the \"user’s search intent\".\n\n- The overall outline should surpass existing content on the topic in terms of depth, quality, and user satisfaction, ensuring it ranks well on search engines like Google.\n\n[Guidelines for the article methodology]:\n\nFor each sections / heading, give me a corresponding article methodology (or detailed brief), that includes: \n- The content format: you will use bullet points, paragraphs, or tabular to write the content.\n- Estimate words: should be written\n- Main Ideas: what ideas/content should be included/addressed/proceed in the heading correspondingly to ensure the context coverage of the section accordingly, contextual vectors, contextual hierarchy & contextual flow of the whole content? (What content should be included in this corresponding heading/section?)]\n- What examples, data, or evidence to include\n- How this section connects to others\n\nYour outline should be comprehensive, strategic, and provide clear guidance for content creation that will outperform existing content on the same topic.\n\n[Examples output]:\n\nOkay, I understand. The \"Article Methodology\" description applies to the entire group of H3s following it, not just the first one. Similarly, the methodology for the tools applies to all listed tools.\n\nHere is the revised Markdown reflecting that structure:\n\n---\n\n# SEO Onpage là gì? Hướng dẫn 20+ tiêu chuẩn ưu Onpage 2025\n\nviết Introduction ở đây.\n\nTóm tắt về Onpage SEO tầm quan trọng ra sao? Và đưa cụ thể 3 case study từ đầu về việc tối ưu SEO Onpage giúp đạt kết quả cụ thể Organic Traffic gì? các keywords đại diện nào lên top nhưng không cần backlink (2 - 3 case, ví dụ: Sanf, Euro Travel, TOTO).\n\nnói tóm tắt về Onpage & Offpage khác nhau ra sao? Và tại sao tập trung master onpage lại quan trọng hơn là Offpage?\n\nNói về bài viết này sẽ đề cập:\n- Tiêu chí onpage basic nhưng hông phải ai cũng làm đúng & đủ.\n- Tiêu chí onpage nâng cao nào? Và việc ứng dụng tối ưu onpage nâng cao giúp đạt các lợi ích ra sao với đối thủ?\n  + cụ thể nói các tiêu chí onpage nâng cao mình nói là gì một cách giới thiệu ngắn gọn và giọng khẳng định rằng đa phần mọi người không biết.\n\nẢnh cụ thể về tổng hợp toàn bộ check list tối ưu SEO Onpage từ cơ bản đến nâng cao\n\nNgoài ra, chuyển tiếp nội dung về supplement content thông qua việc (các công cụ hỗ trợ tối ưu SEO nhanh chóng, lẫn các câu hỏi đặt ra lúc tối ưu SEO)?\n\n2. Ước tính: 150 - 200 từ.\n\n\n## SEO Onpage là gì?\n\n1.  Trả lời dứt khoát, không dài dòng.\n    - Định nghĩa nói về:\n        + là gì?\n        + bao gồm những công việc ra sao?\n2.  Nói về SEO Onpage nằm trong quy trình SEO ra sao? Thông thường trước bước nào và sau bước nào? Tại sao nó quan trọng về lợi ích?\n    - Ở lợi ích, chia sẻ các điểm lợi ích ở format content dạng Bullet Point\n        + Về lợi ích, đưa ra các dữ liệu chứng minh, cụ thể: Theo tài liệu google tại sao quan trọng, và thiết yếu?\n        + Ngoài các lợi ích giúp ranking, có thể đưa các lợi ích khác như: Phương pháp white hat, tiết kiệm chi phí (vì không cần backlink), hiệu quả thể hiện nhanh chóng (đưa rõ khoảng khung thời gian test ở dự án GTV thường từ 7 - 14 ngày để thấy kết quả, trong 30 ngày để fully effective).\n        + Expand evidence thông qua đưa số liệu case study GTV (ví dụ: > 85% Project GTV là không sử dụng backlink)\n3.  Đưa câu kết luận và chuyển tiếp cho việc phân biết Onpage & offpage là tối ưu những gì?\n4. Ước tính: 250 - 300 từ.\n### Phân biệt giữa SEO Onpage và SEO Offpage\n\n1.  Đưa câu trả lời dứt khoát một cách tóm tắt về Onpage & offpage khác nhau về định nghĩa ra sao.\n    - Sau đó kẻ bảng sự khác biệt về công việc, hiệu quả, nhiệm vụ của 2 hạng mục này.\n2.  Tóm tắt lợi ích tập trung onpage SEO sau đó dùng câu chuyển tiếp tới tiêu chí tối ưu Onpage cơ bản\n3. Ước tính: 120 - 180 từ.\n\n## 11+ tiêu chuẩn tối ưu SEO Onpage được Google ưu tiên (Kèm checklist)\n\nBổ sung hình ảnh checklist, tương tự:\nhttps://blog.hubspot.com/blog/tabid/6307/bid/33655/a-step-by-step-guide-to-flawless-on-page-seo-free-template.aspx\n\n**Với mỗi section về checklist trong danh sách dưới đây sẽ được viết bài theo Logic/phương pháp sau:**\n\n1.  Đưa câu trả lời dứt khoát về định nghĩa ở đây. (format paragaph)\n2.  Sau đó đưa lợi ích tối ưu (format paragaph)\n3.  Đưa tiêu chí tối ưu ở dạng bullet point và gỉai thích ngắn gọn tại sao phải tối ưu như vậy?\n4.  Bổ sung hình ảnh minh hoạ ở các tiêu chí tối ưu bên dưới được liệt kê.\n    - URL: mục URL ngắn & Dài.\n    - Title: Có số & không có số, giúp tăng CTR.\n    - Đáp ứng search intent: một hình vẽ được thiết kế, có text thể hiện ngắn gọn 9 loại intent.\n    - TOC: hình ảnh cho người dùng hình dung TOC là gì.\n    - Hình ảnh: So sánh giữa việc chèn từ khoá trong hình ảnh, và hình ảnh được mô tả rõ ràng (descriptive image).\n    - Readability: so sánh giữa hai bài có và không có tối ưu.\n6. Ước tính: 150 - 200 từ mỗi section.\n\n**Lưu ý:**\n1.  Luôn giới thiệu hình ảnh trước khi đưa. Tức có câu dẫn dắt.\n2.  Những gì mà hình ảnh đã thể hiện, bạn không cần nói lại trong text nội dung (ví dụ 9 loại search intent, phần này chỉ cần ghi là \"hiện tại có 9 loại search intent phổ biến trên google, được thể hiện ở hình ảnh dưới\" là xong, và bạn không cần nói 9 loại search intent gì).\n\nBạn chỉ nói lại trong dạng text nếu thật sự cần thiết.\n\n7.  Nếu có Tips, checklist tối ưu nâng cao trong hạng mục tương ứng. Ví dụ Title có checklist tối ưu CTR riêng chẳng hạn, thì bạn nên tạo một paragrah ngắn giới thiệu, sau đó nói checklist nâng cao ngắn gọn (vì cái này thuộc dạng bổ sung thêm, vì vậy checklist nâng cao chỉ cần nói tối đa 3 - 4 tiêu chí).\n8. ưu tiên việc Kẻ bảng thay vì trình bày nội dung bulletpoint sẽ tối ưu hơn: https://prnt.sc/V00f3Y03dll0\nTham khảo: https://www.semrush.com/blog/on-page-seo-checklist/#6--add-target-keywords-to-your-body-content\n\n### 1. URL\n\n### 2. Title\n\n### 3. Heading 1\n\n### 4. Heading 2-3\n\n### 5. Keyword Density\n\n### 6. Content unique, chuyên sâu và đáp ứng Search Intent\n\n### 7. Tối ưu Meta Description\n\n### 8. Hình ảnh\n\n### 9. Tối ưu Semantic - LSI Keyword\n\n### 10. In đậm keyword chính trong bài\n\n### 11. TOC (Table of Content – Mục lục)\n\n## 9+ Tiêu chuẩn Onpage nâng cao hiệu quả\n\n**Với mỗi section về checklist trong danh sách nâng cao dưới đây sẽ được viết bài theo Logic/phương pháp sau:**\n\n1.  Đưa câu trả lời dứt khoát về định nghĩa ở đây. (format paragaph)\n2.  Sau đó đưa lợi ích tối ưu (format paragaph)\n3.  Đưa tiêu chí tối ưu ở dạng bullet point và gỉai thích ngắn gọn tại sao phải tối ưu như vậy.\n4.  Ở các phần nâng cao, có những mục mình sẽ chèn video, những phần này khi chèn video thì cũng có ngữ cảnh dẫn dắt. Cũng như trong nội dung bài viết chỉ cần viết vắn tắt định nghĩa, lý do & vài checklist. Còn lại về hướng dẫn, minh hoạ mình sẽ kêu user coi video. Cụ thể:\n    - Feature snippet: https://www.youtube.com/watch?v=2F27882jH5I\n    - BlockQuotes: https://www.youtube.com/watch?v=zMz_R_ZYZzw\n    - Title nâng cao: https://www.youtube.com/watch?v=cWN9DXTt_bw\n    - Schema: https://www.youtube.com/watch?v=VNdvQMdSVdk\n5.  Bổ sung hình ảnh minh hoạ ở tương ứng tiêu chí tối ưu trong mục nâng cao này để User hiểu về định nghĩa hoặc hình dung là tối ưu ở đâu?\n6. Ước tính: 150 - 200 từ mỗi section.\n\n**Lưu ý:**\n1.  Luôn giới thiệu hình ảnh trước khi đưa. Tức có câu dẫn dắt.\n2.  Những gì mà hình ảnh đã thể hiện, bạn không cần nói lại trong text nội dung (ví dụ 9 loại search intent, phần này chỉ cần ghi là \"hiện tại có 9 loại search intent phổ biến trên google, được thể hiện ở hình ảnh dưới\" là xong, và bạn không cần nói 9 loại search intent gì).\n\nBạn chỉ nói lại trong dạng text nếu thật sự cần thiết.\n\n### 1. Featured Snippets\n\n### 2. Internal Link và Outbound Link\n\n### 3. Blockquote\n\n### 4. Tối ưu tiêu đề nâng cao\n\n### 5. Content GAP\n\n### 7. Schema Markup\n\n### 8. E-E- A- T\n\n## Các công cụ check SEO Onpage hiệu quả, phổ biến hiện nay?\n\nCông cụ Check SEO Onpage là ... Tuỳ vào mục tiêu và ngân sách ... mà tính hiệu quả là khác nhau. Check trong quá trình tối ưu SEO Onpage và Check sau khi tối ưu SEO Onapge. Sẽ có những công cụ ... hay ... Dưới đây là 6 công cụ Check SEO Onpage hiệu quả, sắp xếp theo tiêu chí: chi phí --> làm được gì.\n\n**Đối với mỗi công cụ được liệt kê dưới đây, cần trình bày theo cấu trúc:**\n\n1. *(Dùng Incremental list, tức các công cụ phổ biến dc dùng rộng rải ở USA. Vì là supplement content nên có thể chỉ cần đưa bulletpoint rồi giới thiệu không cần phải dùng heading 3.)*\n- là gì?\n- giúp gì?\n- chi phí bao nhiêu?\n2. Ước tính: 100 - 150 từ mỗi section.\n## 1. SEOQuake\n\n## 2. Yoast SEO / Rank math\n\n## 3. Surfer SEO\n\n## 4. Website Auditor\n\n## 5. Cora SEO\n\n---"
        }
      },
      "id": "f930552f-2421-4fb3-acd7-7e832d96ec30",
      "name": "Content Outline Generator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2200,
        -480
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e0a93d8d-4363-467e-9a13-e8e4df96dbb9",
              "name": "ContentOutline",
              "type": "string",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "79c8e318-fdda-4e23-8879-a8bd584fd52f",
      "name": "Store Content Outline",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2560,
        -480
      ]
    },
    {
      "parameters": {
        "folderId": "1X8WiB6TJtIXyaZ4GcYR8cUmg5OSkg7Kf",
        "title": "={{ $('Edit Fields').item.json.formData.Query }} - Outline & Article methodology2"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2840,
        -480
      ],
      "id": "bad26766-2c79-4dcd-af09-ca2aa8433332",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "qRrQLLKeaBtJyzIB",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1nNFFDGSConpPOGkBKpWelcpzSNV5YsYCyC7yzHbjeAM",
          "mode": "list",
          "cachedResultName": "Workflow Automation N8n - Outline & AM  Update Wiki",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nNFFDGSConpPOGkBKpWelcpzSNV5YsYCyC7yzHbjeAM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/112dEFb28wk2Aj7kFWWYiT76ef0PmLpGQZKbwfrleIws/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Google Sheets1').item.json.row_number }}",
            "Status": "complete",
            "Outline Result ": "={{ $('Store Content Outline').item.json.ContentOutline }}",
            "Link outline": "={{ $json.documentId }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Brand Name",
              "displayName": "Brand Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Homepage",
              "displayName": "Homepage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Brand information",
              "displayName": "Brand information",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Brand solution",
              "displayName": "Brand solution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Query",
              "displayName": "Query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Query in English",
              "displayName": "Query in English",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "outline focus",
              "displayName": "outline focus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Top 3 URL",
              "displayName": "Top 3 URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Output language",
              "displayName": "Output language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mục đích tìm kiếm",
              "displayName": "Mục đích tìm kiếm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Outline Result ",
              "displayName": "Outline Result ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link outline",
              "displayName": "Link outline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title Content",
              "displayName": "Title Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Slug",
              "displayName": "Slug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Meta Description",
              "displayName": "Meta Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Style of Writing",
              "displayName": "Style of Writing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tone of Voice",
              "displayName": "Tone of Voice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status Writing",
              "displayName": "Status Writing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content Final",
              "displayName": "Content Final",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3360,
        -480
      ],
      "id": "268817eb-761a-40af-9664-d3c80765e6f4",
      "name": "Update lên Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c1AtjQD6KETheLmW",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1nNFFDGSConpPOGkBKpWelcpzSNV5YsYCyC7yzHbjeAM",
          "mode": "list",
          "cachedResultName": "Workflow Automation N8n - Outline & AM  Update Wiki",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nNFFDGSConpPOGkBKpWelcpzSNV5YsYCyC7yzHbjeAM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/112dEFb28wk2Aj7kFWWYiT76ef0PmLpGQZKbwfrleIws/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Meta Description": "={{ $json.output }}",
            "Title Content": "={{ $('Title1').item.json.output }}",
            "Slug": "={{ $('Slug1').item.json.output }}",
            "Status": "complete",
            "row_number": "={{ $('Google Sheets1').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Brand Name",
              "displayName": "Brand Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Homepage",
              "displayName": "Homepage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Brand information",
              "displayName": "Brand information",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Brand solution",
              "displayName": "Brand solution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Query",
              "displayName": "Query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Query in English",
              "displayName": "Query in English",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "outline focus",
              "displayName": "outline focus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Top 3 URL",
              "displayName": "Top 3 URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Output language",
              "displayName": "Output language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mục đích tìm kiếm",
              "displayName": "Mục đích tìm kiếm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Outline Result ",
              "displayName": "Outline Result ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link outline",
              "displayName": "Link outline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title Content",
              "displayName": "Title Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Slug",
              "displayName": "Slug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meta Description",
              "displayName": "Meta Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Style of Writing",
              "displayName": "Style of Writing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tone of Voice",
              "displayName": "Tone of Voice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status Writing",
              "displayName": "Status Writing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content Final",
              "displayName": "Content Final",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -740,
        160
      ],
      "id": "5ec5eb74-2e04-40b4-a6d1-3768763d58d4",
      "name": "Update Status full",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c1AtjQD6KETheLmW",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Store Content Outline').item.json.ContentOutline }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        3100,
        -480
      ],
      "id": "8ef394a8-38ae-4d25-9eea-117b458ec2a5",
      "name": "Update outline & AM lên GG Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "qRrQLLKeaBtJyzIB",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5e8d95c1-407c-4adc-b61a-a8ded2aed84a",
              "name": "formData",
              "type": "object",
              "value": "={{ $json }}"
            },
            {
              "id": "31fe2c22-f140-4a89-8f98-af0eff940e82",
              "name": "projectId",
              "type": "string",
              "value": "={{ $now.valueOf() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0c3e8b76-ae74-4eb7-969c-d31bc8530a53",
      "name": "Process Form Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -520,
        100
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[Context of the content]:\n\nYou will recieve that outline & Article methodology (detailed brief) of the content, then I want you to write the article/blogpost base on this.\n\nThe main Search intent of the content is: {{ $('Edit Fields').item.json.formData['Mục đích tìm kiếm'] }}\n\n[Brand information]:\n1. Brand name: {{ $('Edit Fields').item.json.formData['Brand Name'] }}\n2. Brand description:{{ $('Edit Fields').item.json.formData['Brand information'] }}\n3. Brand solution/products/service:{{ $('Edit Fields').item.json.formData['Brand solution'] }}\n\n[prompt]:\n\nWrite an article on the Website in Enghish with the Title: “{{ $('Process Form Data').item.json.formData['Title Content'] }}” that strictly complies with the requirements according to the outline.\n\n[Guideline]:\n\nStrictly follow the guidelines  from the instructions of the project setting I have already given, then follow\n### [Add relevance Semantic Entities]\n### [Ensure there is Semantic Accuracy]\n### [Ensure there is Semantic Completeness]\n### [Ensure there is Semantic Consistency]\n### [Ensure there is Semantic Conciseness]\n### [Ensure there is Semantic Relevance]\n### [Ensure there is Semantic Interoperability]\n### [Ensure there is Semantic Trustworthiness]\n\nAlso, you need to follow strictly the outline & Article methodology of the content I have given as an attachment. \n\nThe Content output must be in {{ $('Edit Fields').item.json.formData['Output language'] }}= and you won't stop until you done all the content\n\n[style of writing]:\n{{ $('Edit Fields').item.json.formData['Style of Writing'] }}\n[Tone of voice]:\n{{ $('Edit Fields').item.json.formData['Tone of Voice'] }}\n[the outline detailed of the content]:\n{{ $('Store Content Outline').item.json.ContentOutline }}\n\n\n[final reminder]:\n\nThe output only contain the blogpost/the content.",
        "options": {
          "systemMessage": "=[role]:\nAs a seasoned Content Writer with over a decade of experience in crafting SEO-optimized, engaging, and authoritative content, I specialize in creating in-depth, user-focused technology product reviews for Compuxis. With a keen understanding of the tech industry and a passion for breaking down complex innovations into clear, accessible insights, my work empowers readers to make informed decisions. Drawing from reputable sources and hands-on research, I ensure every review is accurate, unbiased, and aligned with Compuxis’s mission to deliver trustworthy, high-quality evaluations. My writing combines technical precision with a conversational tone, guiding tech enthusiasts and everyday consumers alike through the ever-evolving world of technology with clarity and confidence.\n\n\n[Tools]:\n- Mcp_Content_Writing_Guidlines: Use this tool to retrieve the full requirements from the pre-loaded Semantic_Content_Guidelines and Checklist_Content_Writing documents. **Call this tool without any input parameters.**\n- Think: Use the tool to think and ensure the final output will try its best to fulfill the search intent, the guidlines and the checklists (Semantic_Content_Guidelines and Checklist_Content_Writing) from Mcp_Content_Writing_Guidlines.\n\n[instruction]:\nFirstly, you Must Retrieve and Read the requirements from MCP_Content_writing_guideline to create the content that meet it's standards.\n\nAfter that, When writing content, you need to follow Google's E-E-A-T, and Google Helpful Content principles by reading through the materials provided in Project Knowledge. You also need to follow the writing guidelines below:\n\n### [Add synonyms]\n### [Write content so that it has a natural flow, mostly paragraphs like a conversation but still ensure professionalism, don't use bullet points too much]\n### [Employ archetype: The Sage. Without mentioning it directly]\n### [Minimize the use of adjectives and adverbs]\n### [Rewrite the content in an NLP-friendly way]\n### [Speak like an expert]\n### [Use both popular metrics in measurement, for example, miles & kilometers] [prioritize USA measurement first]\n### [Use English lingo and spelling] \n### [Apply conceptual diversity] [Employ conceptual context, but don't mention it] [Use unique adjectives]\n### [For image request in outline, provide a brief description for an image to be generated]\n### [Enhance content relevance]\n### [Ensure information responsiveness in the content] [minimize bullet point format content; instead, use mainly paragraph or table formats as instructed based on the detailed outline of each content. Only use bullet points content if requested]\n"
        }
      },
      "id": "2409657c-34cd-4f21-b009-9c0862660ab0",
      "name": "Content Outline Generator & Onpage",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -280,
        20
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Content Outline Generator & Onpage').item.json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        600,
        100
      ],
      "id": "4ca36049-c9ea-4763-8db9-eba4dfecf145",
      "name": "Update GG Doc",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "qRrQLLKeaBtJyzIB",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "sseEndpoint": "https://n8n.nextscale.asia/mcp/490417a3-24c9-4dc2-8430-cd669b13cd73/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        -140,
        400
      ],
      "id": "dcb1b522-0d2a-40f4-980a-883aa6041663",
      "name": "Mcp_Content_Writing_Guidlines"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1nNFFDGSConpPOGkBKpWelcpzSNV5YsYCyC7yzHbjeAM",
          "mode": "list",
          "cachedResultName": "Workflow Automation N8n - Outline & AM  Update Wiki",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nNFFDGSConpPOGkBKpWelcpzSNV5YsYCyC7yzHbjeAM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/112dEFb28wk2Aj7kFWWYiT76ef0PmLpGQZKbwfrleIws/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Google Sheets1').item.json.row_number }}",
            "Outline Result ": "=",
            "Link outline": "={{ $('Google Sheets1').item.json['Link outline'] }}",
            "Content Final": "={{ $json.documentId }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Brand Name",
              "displayName": "Brand Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Brand information",
              "displayName": "Brand information",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Brand solution",
              "displayName": "Brand solution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Query",
              "displayName": "Query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Query in English",
              "displayName": "Query in English",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "outline focus",
              "displayName": "outline focus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Top 3 URL",
              "displayName": "Top 3 URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Output language",
              "displayName": "Output language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mục đích tìm kiếm",
              "displayName": "Mục đích tìm kiếm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Outline Result ",
              "displayName": "Outline Result ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link outline",
              "displayName": "Link outline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title Content",
              "displayName": "Title Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Slug",
              "displayName": "Slug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Meta Description",
              "displayName": "Meta Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Style of Writing",
              "displayName": "Style of Writing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tone of Voice",
              "displayName": "Tone of Voice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status Writing",
              "displayName": "Status Writing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content Final",
              "displayName": "Content Final",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        880,
        0
      ],
      "id": "c2e7a48e-3382-4d41-81ef-4c17c09b2531",
      "name": "Update lên Sheet1",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c1AtjQD6KETheLmW",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        20,
        340
      ],
      "id": "c8a7d983-823a-4832-bbe5-4f66d02814a6",
      "name": "Think1"
    },
    {
      "parameters": {
        "folderId": "1p5Rnxw94O9p88krF-PKwVo0HA0EQbJpZ",
        "title": "={{ $('Edit Fields').item.json.formData['Query in English'] }}- Content detail"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        380,
        80
      ],
      "id": "551902bb-016f-4ff7-8bc7-ae1a136e117b",
      "name": "Google Docs2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "qRrQLLKeaBtJyzIB",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "model": "grok-3-beta",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        -280,
        320
      ],
      "id": "2ab5f6d0-e110-4970-8205-c947ee7a50ce",
      "name": "xAI Grok Chat Model4",
      "credentials": {
        "xAiApi": {
          "id": "1PWyiApIZMEhc6wd",
          "name": "xAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b81033fa-9659-4237-9e75-babcf83ca873",
              "name": "Content",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        140,
        60
      ],
      "id": "6913b4e2-41e6-44c7-ae75-cf03133644ad",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d077230f-1126-4046-b097-df7f93d61c75",
              "name": "formData",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "0930f793-2617-4f82-bb21-e61ba49b0817",
              "name": "projectId",
              "value": "={{ $now.valueOf() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20,
        -480
      ],
      "id": "81279643-5f39-4f94-94c9-71779f9ba320",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -240,
        -500
      ],
      "id": "d9488c96-8ad4-4dc6-9358-a0b3de08b60a",
      "name": "Limit"
    },
    {
      "parameters": {
        "sseEndpoint": "https://n8n.nextscale.asia/mcp/490417a3-24c9-4dc2-8430-cd669b13cd73/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        2280,
        -200
      ],
      "id": "6d7efea8-266e-4c34-9746-c4c352f1efe3",
      "name": "Mcp_Checklist_Semantic_Content"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        2480,
        -180
      ],
      "id": "018b2e99-9ab2-4b96-98a4-6e7cac5c92df",
      "name": "Think"
    },
    {
      "parameters": {
        "model": "grok-3-beta",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        2120,
        -200
      ],
      "id": "59b513bc-95a3-48ce-8926-0707d283a895",
      "name": "xAI Grok Chat Model3",
      "credentials": {
        "xAiApi": {
          "id": "1PWyiApIZMEhc6wd",
          "name": "xAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "grok-3-beta",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        3760,
        -220
      ],
      "id": "7e4aacb5-0f9c-4cc9-a1d4-3ca58b593623",
      "name": "xAI Grok Chat Model5",
      "credentials": {
        "xAiApi": {
          "id": "1PWyiApIZMEhc6wd",
          "name": "xAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a slug for the following outline of the Blogpost/Content: \n[{{ $('Store Content Outline').item.json.ContentOutline }}]\n\nA slug in a blog post is the part of the URL that comes after the domain name and identifies a specific page. It is typically a short, descriptive phrase that summarizes the content of the post, making it easier for users and search engines to understand what the page is about. For example, in the URL www.example.com/intelligent-agents, the slug is intelligent-agents. A good slug is concise, contains relevant keywords, and avoids unnecessary words to improve readability and SEO. \n\nThe slug must be 5 or 10 words max and must include the primary keyword of the blog post which is ={{ $('Edit Fields').item.json.formData.Keywords }}. Try it as short as possible.\n\nYour output must be the slug and nothing else so that I can copy and paste your output and put it at the end of my blog post URL to post it right away. ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        3760,
        -480
      ],
      "id": "39520f2d-8031-421f-a18b-dfc1bfbe5748",
      "name": "Slug1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract the blog post title from the Blogpost/Content: \n{{ $('Update lên Sheet').item.json['Outline Result '] }}\nAct as an SEO expert in the health niche. Your task is to create a powerful SEO blog post title for an article sharing natural home remedies on the topic: {{ $('Edit Fields').item.json.formData.Query }}. \n\nThe title must:\nBe 70–80 characters long\nUse a curiosity-driven hook to grab attention\nClearly address search intent and common reader pain points\nInclude the primary keyword {{ $('Edit Fields').item.json.formData.Query }}\nInform users immediately of what to expect from the article\nThe main keyword must appear at the beginning\nBe professional, friendly, engaging, and easy to understand\nAvoid generic or clickbait language, keeping it authentic yet compelling\nOutput only the blog post title as plain text, with no quotes, markdown, or additional formatting.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        4220,
        -480
      ],
      "id": "9913c986-87f2-4dfc-9ad4-a5762dda235c",
      "name": "Title1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a good meta description for the following blog post: \n\n[{{ $('Store Content Outline').item.json.ContentOutline }}]\n\nA good meta description for a blog post that is SEO-optimized should:\n- Be Concise: Stick to 150-160 characters to ensure the full description displays in search results. Use a curiosity hook + address the exact concern of the searcher.\n- Include Keywords: Incorporate semantic keywords that are relate to the main keyword which is [{{ $('Edit Fields').item.json.formData.Query }}] naturally to improve visibility and relevance to search queries \n- Provide Value: Clearly describe what the reader will learn or gain by clicking the link. \n\n- Be Engaging: Use persuasive language, such as action verbs or a question, to encourage clicks. \n\n- Align with Content: Ensure the description accurately reflects the blog post to meet user expectations and reduce bounce rates. \n\nYour output must only be the meta description and nothing else. \n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        4580,
        -480
      ],
      "id": "4aded902-0555-427e-9071-fe11d7dc5dfd",
      "name": "Meta description1"
    },
    {
      "parameters": {
        "model": "grok-3-beta",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        4220,
        -200
      ],
      "id": "94f8cfd5-2edd-41e0-b5b2-7a8ef2ea0066",
      "name": "xAI Grok Chat Model6",
      "credentials": {
        "xAiApi": {
          "id": "1PWyiApIZMEhc6wd",
          "name": "xAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "grok-3-beta",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        4600,
        -180
      ],
      "id": "bffd34da-99fc-4a71-8b24-e71ef0ef1812",
      "name": "xAI Grok Chat Model7",
      "credentials": {
        "xAiApi": {
          "id": "1PWyiApIZMEhc6wd",
          "name": "xAi account"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $('Merge').item.json['Title Content'] }}",
        "additionalFields": {
          "authorId": 1,
          "content": "={{ $('HTML version1').item.json.output }}",
          "slug": "={{ $('Merge').item.json.slug }}",
          "status": "publish",
          "commentStatus": "closed",
          "pingStatus": "open",
          "sticky": false,
          "categories": [
            1
          ]
        }
      },
      "id": "6bc28ab4-5912-4f58-926c-6c9f15c13cd8",
      "name": "Wordpress1",
      "type": "n8n-nodes-base.wordpress",
      "position": [
        3580,
        -100
      ],
      "typeVersion": 1,
      "credentials": {
        "wordpressApi": {
          "id": "12CvduXzvZR8x4JZ",
          "name": "Wordpress account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wikihomeremedies.com/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"{{ $('Merge').item.json.slug }}.png\""
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "79bb9dc1-21ff-431b-8086-c77544188ea3",
      "name": "Upload Image to Wordpress",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4260,
        140
      ],
      "typeVersion": 4.2,
      "credentials": {
        "wordpressApi": {
          "id": "12CvduXzvZR8x4JZ",
          "name": "Wordpress account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://wikihomeremedies.com/wp-json/wp/v2/posts/{{ $('Wordpress1').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "featured_media",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "74527842-5c82-4a69-9b98-6153b99793e5",
      "name": "Set Image on Wordpress Post",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4500,
        100
      ],
      "typeVersion": 4.2,
      "credentials": {
        "wordpressApi": {
          "id": "12CvduXzvZR8x4JZ",
          "name": "Wordpress account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json['image-url'] }}",
        "options": {}
      },
      "id": "444f26f5-d2b8-42cf-b6ac-0bf582168b8d",
      "name": "GET Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3880,
        140
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f0541df-05ab-4e3d-a5d8-3904579fc8a9",
              "name": "image-url",
              "type": "string",
              "value": "={{ $('OpenAI1').item.json.url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0d60b7f1-a824-4b9f-aa19-ba2c6fb7a0ff",
      "name": "Set Image URL",
      "type": "n8n-nodes-base.set",
      "position": [
        3660,
        160
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "model": "grok-3-beta",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        3000,
        440
      ],
      "id": "fa6a829a-a536-450a-9434-6d85897f2a84",
      "name": "xAI Grok Chat Model9",
      "credentials": {
        "xAiApi": {
          "id": "1PWyiApIZMEhc6wd",
          "name": "xAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Dựa trên chủ đề: \"{{ $('Merge').item.json['Title Content'] }}\" và nội dung bài viết của tôi: \"{{ $('Merge').item.json.Content11111 }}\". \n\nHãy tạo một image prompt dưới 500 ký ttự để tôi có thể bỏ vào Image AI Model để tạo ra ảnh minh họa sắc nét cho bài viết đăng trên website của tôi\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        3000,
        -20
      ],
      "id": "8237c4a3-8e87-40b9-aadc-6e0f7980fab5",
      "name": "Viết Pormrt Ảnh1"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.output }}",
        "options": {
          "size": "1792x1024",
          "returnImageUrls": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3360,
        -20
      ],
      "id": "b4461594-5d02-4a63-a028-d386dc4ccc5d",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "ntMwxi7YEFloeK0E",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -780,
        -480
      ],
      "id": "6fb8a5d7-aca3-49d0-9258-6d518678256e",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nNFFDGSConpPOGkBKpWelcpzSNV5YsYCyC7yzHbjeAM",
          "mode": "list",
          "cachedResultName": "Workflow Automation N8n - Outline & AM  Update Wiki",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nNFFDGSConpPOGkBKpWelcpzSNV5YsYCyC7yzHbjeAM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nNFFDGSConpPOGkBKpWelcpzSNV5YsYCyC7yzHbjeAM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Run"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -480,
        -500
      ],
      "id": "6824bfdb-a5c5-4579-b8f3-d91d275d1f34",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c1AtjQD6KETheLmW",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "resize",
        "width": 1000,
        "height": 1000,
        "options": {
          "fileName": "={{ $('Merge').item.json.slug }}",
          "format": "webp"
        }
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        4040,
        140
      ],
      "id": "aefcc828-ff61-4e57-8b6d-2b77d2c25f68",
      "name": "Edit Image"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1nNFFDGSConpPOGkBKpWelcpzSNV5YsYCyC7yzHbjeAM",
          "mode": "list",
          "cachedResultName": "Workflow Automation N8n - Outline & AM  Update Wiki",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nNFFDGSConpPOGkBKpWelcpzSNV5YsYCyC7yzHbjeAM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/112dEFb28wk2Aj7kFWWYiT76ef0PmLpGQZKbwfrleIws/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Google Sheets1').item.json.row_number }}",
            "Status Writing": "Publishing",
            "Content Final": "=",
            "Link outline": "=",
            "Status": "Processing"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Brand Name",
              "displayName": "Brand Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Brand information",
              "displayName": "Brand information",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Brand solution",
              "displayName": "Brand solution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Query",
              "displayName": "Query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Query in English",
              "displayName": "Query in English",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "outline focus",
              "displayName": "outline focus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Top 3 URL",
              "displayName": "Top 3 URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Output language",
              "displayName": "Output language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mục đích tìm kiếm",
              "displayName": "Mục đích tìm kiếm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Outline Result ",
              "displayName": "Outline Result ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link outline",
              "displayName": "Link outline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title Content",
              "displayName": "Title Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Slug",
              "displayName": "Slug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Meta Description",
              "displayName": "Meta Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Style of Writing",
              "displayName": "Style of Writing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tone of Voice",
              "displayName": "Tone of Voice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status Writing",
              "displayName": "Status Writing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content Final",
              "displayName": "Content Final",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4820,
        100
      ],
      "id": "0427e9ba-df25-4706-87af-3b6df9251e57",
      "name": "Update tình trạng lên sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iFeM16eGpbVWFnBa",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "model": "grok-3-beta",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        2420,
        560
      ],
      "id": "f597547c-6fe0-453c-9b37-99316b386d29",
      "name": "xAI Grok Chat Model10",
      "credentials": {
        "xAiApi": {
          "id": "1PWyiApIZMEhc6wd",
          "name": "xAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=DO NOT OUTPUT ANYTHING OTHER THAN THE CODE. I want you to follow the layout of the template as a guide to generate the WordPress code for a blog post. Here are the rules to follow:\n\nThe blog post should have a title, estimated reading time, key takeaways, table of contents, body, and FAQ in this order.\nMake it engaging by using italics, dot points, quotes, bold, spaces, and sometimes new lines. Never use emojis.\nThe blog post will have some URLs referenced next to certain keyphrases to show where the info came from. You must hyperlink the keyphrase with the provided URL so that the reader can click on the referenced URL. It is critical you get this right.\nWrap the entire content in a container <div> with inline CSS that sets the text color to black (#000000), uses a legible font such as Arial, sans-serif, and sets line-height to 1.6.\nEnsure that all non-heading text elements (e.g., paragraphs, list items) have an inline style or embedded style that sets their font size to 20px and color to black (#000000) using !important to override theme styles.\nHyperlinks, points in the table of contents, and FAQ questions must be styled in blue (#00c2ff).\nAll headings and subheadings should have an underline implemented via a bottom border in blue (#00c2ff) with appropriate padding.\nPlace a double break (<br><br>) between each section to improve readability.\nDo not output any extra text or mention code tags like HTML''' around the output; just output the HTML code.\nBlog post: \n\n{{ $json.text }}\n\nHere's an example of a well formatted output:\n\n<div style=\"color: #000000; font-family: Arial, sans-serif; line-height: 1.6;\">\n  <style>\n    p,\n    .wp-block-paragraph,\n    ul.wp-block-list,\n    li {\n      color: #000000 !important;\n      font-size: 20px !important;\n    }\n    a {\n      color: #00c2ff !important;\n    }\n  </style>\n\n  <h1 id=\"h-devin-ai-the-hype-and-reality-of-an-ai-software-engineer\"\n      class=\"wp-block-heading\"\n      style=\"border-bottom: 2px solid #00c2ff; padding-bottom: 5px;\">\n    Devin AI: The Hype and Reality of an AI Software Engineer\n  </h1>\n  <br><br>\n\n  <p class=\"estimated-reading-time\"\n     style=\"color: #000000; font-size: 20px !important;\">\n    Estimated reading time: 5 minutes\n  </p>\n  <br><br>\n\n  <p>\n    Devin AI has burst onto the tech scene, promising to revolutionize software development as we know it. But does this AI‑powered coding assistant live up to the hype? Let's dive into what Devin AI really is, what it can do, and what developers are saying after putting it to the test.\n  </p>\n  <br><br>\n\n  <!-- Rest of blog post content goes here -->\n</div>\n\n[final reminder]:\n\nDo not remove any content or information from the current blogpost, only change it to the html version.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        2560,
        0
      ],
      "id": "90a8635b-a346-42b1-b21d-f760877b610a",
      "name": "HTML version1"
    },
    {
      "parameters": {
        "content": "## Get all internal links\n",
        "height": 231,
        "width": 1207,
        "color": 2
      },
      "id": "78be2701-a6b0-4f5d-a9b9-1fd261875bad",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        20,
        -1020
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=https://wikihomeremedies.com/post-sitemap.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        -980
      ],
      "id": "fe35a22f-e193-43d8-8b74-c735d559c075",
      "name": "Get post sitemap"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        400,
        -960
      ],
      "id": "8cb6ddd7-0570-4f0a-a786-dbfd7fe83780",
      "name": "Get XML file"
    },
    {
      "parameters": {
        "fieldToSplitOut": "urlset.url",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        600,
        -940
      ],
      "id": "995adf9e-6368-4902-9562-10b56c2ffdee",
      "name": "Split out links"
    },
    {
      "parameters": {
        "maxItems": 100,
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        840,
        -960
      ],
      "id": "a3f6d5f5-7290-49ed-a54b-123f6380cad5",
      "name": "Limit1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "loc",
              "renameField": true,
              "outputFieldName": "internal_links"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1060,
        -960
      ],
      "id": "721f1137-f72c-4bf3-b05d-a252188eb497",
      "name": "Aggregate internal links"
    },
    {
      "parameters": {
        "model": "grok-3-beta",
        "options": {
          "timeout": 360000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        1860,
        480
      ],
      "id": "9badb6fd-fa58-426d-b35b-fe4990fd740b",
      "name": "xAI Grok Chat Model11",
      "credentials": {
        "xAiApi": {
          "id": "1PWyiApIZMEhc6wd",
          "name": "xAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nTo choose the best internal linking opportunities you must:\n\n- Read the previous blog post summaries and look through their keywords. If there is a match where the previous blog post is highly relevant (prioritize the topic cluster method), then this is an internal linking opportunity.\n\n- Do not link if it is not highly relevant. Only make a link if it makes sense and adds value for the reader.\n\nOnce you've found the best linking opportunities, you must update the blog post with the internal links. To do this you must:\n\n- Add the link of the previous blog post at the relevant section of the new blog post. Drop the URL at the place which makes most sense. Later we will hyperlink the URL to the word in the blog post which it is placed next to. So your placing is very important.\n\nMake sure to not delete any existing URLs or change anything about the blog post/content that is provided to you. You must only add new internal linking URLs and output the revised blog post.\n\nYour output must be the blog post given to you plus the new URLs for internal link. Don't remove any info.\n\nDon't return the previous blog posts. Only return the current blog post with the internal links added.\n\n[Current blog Post]:\n{{ $json.Content11111 }}\n[url internal links]:\n{{ $json.internal_links }}\n\n[final reminder]:\nDo not remove any content or information from the current blogpost, just add internal link or adjust slightly the content if needed to add the internal link. The final output must be the same content as before plus the internal links that were added.",
        "messages": {
          "messageValues": [
            {
              "message": "You are part of a team that creates world class blog posts.  You are in charge of internal linking between blog posts."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1960,
        20
      ],
      "id": "cbb7406a-6e29-4e65-9a01-7ce0042dcdd3",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "27312742-3dc1-4771-b53c-3516c0a4454b",
              "name": "Title Content",
              "value": "={{ $('Process Form Data').item.json.formData['Title Content'] }}",
              "type": "string"
            },
            {
              "id": "80047468-dbcf-4545-96f2-35ec9dc3eadb",
              "name": "Content11111",
              "value": "={{ $('Edit Fields5').item.json.Content }}",
              "type": "string"
            },
            {
              "id": "b1a5047c-b6a1-45d8-80c2-f0ce50dad797",
              "name": "slug",
              "value": "={{ $('Update Status full').item.json.Slug }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1160,
        60
      ],
      "id": "2f5ea698-9fe0-4840-b78f-45b29a8c6cd7",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1500,
        160
      ],
      "id": "be549c72-f72f-4c8b-ba5a-5c2d8347f8f9",
      "name": "Merge",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "claude-3-7-sonnet-20250219"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1800,
        -1200
      ],
      "id": "e6f1977c-aeeb-477c-96cb-36c9faf37849",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "pOnU2ot4UwPtw1if",
          "name": "Anthropic account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/experimental/templatize_prompt",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "$ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "anthropic-beta",
              "value": "prompt-tools-2025-04-02"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Translate hello to German\"\n    }\n  ],\n  \"system\": \"You are an English to German translator\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2020,
        -1200
      ],
      "id": "06a2af60-dbef-424a-8b3e-9d0c3ed6627e",
      "name": "HTTP Request"
    }
  ],
  "pinData": {
    "Schedule Trigger1": [
      {
        "json": {
          "timestamp": "2025-05-05T09:00:53.011-04:00",
          "Readable date": "May 5th 2025, 9:00:53 am",
          "Readable time": "9:00:53 am",
          "Day of week": "Monday",
          "Year": "2025",
          "Month": "May",
          "Day of month": "05",
          "Hour": "09",
          "Minute": "00",
          "Second": "53",
          "Timezone": "America/New_York (UTC-04:00)"
        }
      }
    ]
  },
  "connections": {
    "xAI Grok Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Outline Generator": {
      "main": [
        [
          {
            "node": "Store Content Outline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Content Outline Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Update outline & AM lên GG Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update lên Sheet": {
      "main": [
        [
          {
            "node": "Slug1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update outline & AM lên GG Docs": {
      "main": [
        [
          {
            "node": "Update lên Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Content Outline": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Form Data": {
      "main": [
        [
          {
            "node": "Content Outline Generator & Onpage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Outline Generator & Onpage": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update GG Doc": {
      "main": [
        [
          {
            "node": "Update lên Sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mcp_Content_Writing_Guidlines": {
      "ai_tool": [
        [
          {
            "node": "Content Outline Generator & Onpage",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update lên Sheet1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think1": {
      "ai_tool": [
        [
          {
            "node": "Content Outline Generator & Onpage",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs2": {
      "main": [
        [
          {
            "node": "Update GG Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Content Outline Generator & Onpage",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update Status full": {
      "main": [
        [
          {
            "node": "Process Form Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Google Docs2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get post sitemap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mcp_Checklist_Semantic_Content": {
      "ai_tool": [
        [
          {
            "node": "Content Outline Generator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Content Outline Generator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Content Outline Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Slug1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Slug1": {
      "main": [
        [
          {
            "node": "Title1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Title1": {
      "main": [
        [
          {
            "node": "Meta description1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta description1": {
      "main": [
        [
          {
            "node": "Update Status full",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Meta description1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Title1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress1": {
      "main": [
        [
          {
            "node": "Set Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image to Wordpress": {
      "main": [
        [
          {
            "node": "Set Image on Wordpress Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Image": {
      "main": [
        [
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image URL": {
      "main": [
        [
          {
            "node": "GET Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok Chat Model9": {
      "ai_languageModel": [
        [
          {
            "node": "Viết Pormrt Ảnh1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Viết Pormrt Ảnh1": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Wordpress1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image on Wordpress Post": {
      "main": [
        [
          {
            "node": "Update tình trạng lên sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image": {
      "main": [
        [
          {
            "node": "Upload Image to Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok Chat Model10": {
      "ai_languageModel": [
        [
          {
            "node": "HTML version1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTML version1": {
      "main": [
        [
          {
            "node": "Viết Pormrt Ảnh1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get post sitemap": {
      "main": [
        [
          {
            "node": "Get XML file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get XML file": {
      "main": [
        [
          {
            "node": "Split out links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split out links": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Aggregate internal links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate internal links": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok Chat Model11": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "HTML version1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3234a76d-42b7-48fa-b764-8d6e87aad012",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b08f320bc3a434915989cf4b8016fef383141bef2a49bac20787831e1b293f6c"
  },
  "id": "4XzX0k9DujbWIMAz",
  "tags": []
}